<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <connectionStrings>
        <add name="Database" connectionString="Data Source={server};Initial Catalog={instance};Integrated Security=True;" />
    </connectionStrings>

    <appSettings>
        <!-- 出力SQL文の置き場所を指定する -->
        <add key="SQLFile" value="SQL\\xxx.sql" />

        <!-- 結果を出力場所を指定する -->
        <add key="outputDIR" value="output" />

        <!-- 結果を統計するファイル名を指定する -->
        <add key="outputFileName" value="xxx" />
    </appSettings>
</configuration>